<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    @* esto no funciona, se hace con app.UseStatusCodePagesWithRedirects("/404"); en Program *@
    @* <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="@typeof(Layout.NotFoundLayout)"></LayoutView>
        <div>AQUÍ NO HAY NADA QUE VER</div>
    </NotFound> *@
</Router>
